{% extends 'core/base.html'%}

{% block title %}
    Contact
{% endblock %}

{% block content %}
        <h1>Contact Page</h1>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
        <p>Welcome to the Contact page of my site!</p>
 
{% endblock %}
