{% extends "core/base.html" %}

{% block title %} {{ item.name }} {% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6 col-span-6 p-2 bg-yellow-400 rounded-xl">
        <img src="{{ item.image.url }}" class="w-35 h-auto rounded-xl">
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
        <p class="text-white"><strong>Price: </strong>{{ item.price }}</p>
        <p class="text-white"><strong>Seller: </strong>{{ item.created_by.username }}</p>
        {% if item.descroption %}
        {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-yellow- rounded-xl">
                <p>This is your item! </p>
                <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg front-semibold bg-green-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg front-semibold bg-red-500 text-white rounded-xl">Delete</a>
            </div>
        {% else %}
            <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-9 px-8 py-6 text-lg front-semibold bg-teal-400 text-white rounded-xl hover:bg-teal-700">Contact Seller</a>
        {% endif %}
        <p class="text-white">
            <strong class="text-white">Description:</strong>
            {{ item.descroption }}
        </p>
        {% endif %}        
</div>
 <div class="mt-2 px-2 py-2 bg-yellow-400 rounded-lg">
            <h2 class="mb-2 text-xl text-white text-center">Related Items</h2>
            
            <div class="grid grid-cols-7 gap-7">

                {% for item in related_items %}
                    <div>
                        <a href="{% url 'item:detail' item.id %}">
                            <div>
                                <img src="{{ item.image.url }}" class="rounded-t-xl">
                            </div>

                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ item.name }}</h2>
                                <p class="text-gray-500">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}